<!DOCTYPE HTML>
<html>
    <head>
        <title>Blogz</title>
        <link href='https://fonts.googleapis.com/css?family=Jura' rel='stylesheet' />  
        <link href="../static/styles/style.css" rel='stylesheet' type='text/css' />
    </head>
    <body>
        <nav>
            <ul>
                <a href="/"><li style='float: left;'>Home</li></a>
                <a href='/blog'><li style='float: left;'>Blog</li></a>
                <a href='/make-post'><li style='float: left;'>Post</li></a>
                {% if session['username'] %}           
                <a href="/logout"><li style='float:right;'>Log Out</li></a>
                <a href="/singleUser"><li style='float:right;'>My Posts</li></a>
                <div style='float: right; padding: 15px; font-size: 18px; color: green;'>Logged in as: <b>{{session['username']}}</b></div>                             
                {% else %}
                <a href="/login"><li style='float:right;'>Log In</li></a>
                <a href="/signup"><li style='float:right;'>Sign Up</li></a>          
                {% endif %}
            </ul>
        </nav>
        <div class='body-wrap'>
            <div class='content'>
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class='footer'>
                Will Irmler &copy; 2017
        </div>
    </body>
</html>