{% extends "base.html" %}

{% block content %}
<h1>Please Log In</h1>
<form action='/login' method='post'>
    <table>
        <tr>
            <td>Username: </td>
            <td>
                <input type='text' name='username' value='{{username}}'/>
            </td>
        </tr>
        <tr>
            <td>Password: </td>
            <td>
                <input type='password' name='password' />
            </td>
        </tr>
    </table>
    <input class='submit-button' type='submit' value='Log In' />
</form>
{% with messages = get_flashed_messages(with_categories=True) %}
    {% for category, message in messages %}
        <p class='{{category}}'>{{message}}</p>
    {% endfor %}
{% endwith %}
<p>If you don't have an account, click <a href='/signup'><u>HERE</u></a> to sign up.</p>
{% endblock %}