{% extends "base.html" %}

{% block content %}

<h1>Make a Blog Post!</h1>
<form action='/make-post' method='post'>
    <label>Blog Title:
        <input type='text' name='title' />
    </label>
    <br />
    <br />
    <p><label>Make your post here:</label></p>
    <textarea style='resize: none;' rows='10' cols='50' name='content'></textarea>
    <br />
    <input type='submit' value='Post!' />
</form>
{% with messages = get_flashed_messages(with_categories=True) %}
{% for category, message in messages %}
    <p class='{{category}}'>{{message}}</p>
{% endfor %}
{% endwith %}
<p><a href='/'>Return to Blog</a></p>

{% endblock %}