{% extends "base.html" %}

{% block content %}

<h1>Create a Post</h1>
<br />
<br />
<form action='/make-post' method='post'>
    <label>Title:
        <br />
        <input type='text' style='width: 415px;'name='title'/>
    </label>
    <br />
    <br />
    <p><label>Content (175 Char Max):</label></p>
    <textarea style='resize: none;' rows='10' cols='50' maxlength='175' name='content'></textarea>
    <br />
    <br />
    <input class='submit-button' type='submit' value='Submit' />

</form>
{% with messages = get_flashed_messages(with_categories=True) %}
{% for category, message in messages %}
    <p class='{{category}}'>{{message}}</p>
{% endfor %}
{% endwith %}
<p><a href='/blog'><b>>>>Return to Blog</b></a></p>

{% endblock %}